<a href="https://colab.research.google.com/github/velkir/ChallengesDayN/blob/main/ChallengesDay22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1**

The following string is given (Playway's March 2020 listings):

```python
playway_raw = """Date,Open,High,Low,Close,Volume
2020-03-02,305,324.5,283.5,310,64081
2020-03-03,325.5,340.5,320,340.5,55496
2020-03-04,324,340.5,315,330,36152
2020-03-05,344,344,310,315,35992
2020-03-06,306.5,307,291,305,32539
2020-03-09,274,291,250,258,79402
2020-03-10,278,284.5,256,264,35700
2020-03-11,270,270,238.5,245,60445
2020-03-12,218,228,196,197,94031
2020-03-13,210,229,198.8,211,100412
2020-03-16,205,248,197.8,240.5,50659
2020-03-17,245,269,232.5,264,99480
2020-03-18,264,280,251,270,70136
2020-03-19,267,280,267,279.5,30732
2020-03-20,297.5,307,280,280.5,43426
2020-03-23,274,289,258,285,37098
2020-03-24,305,309,296.5,309,31939
2020-03-25,313,330,295,304,46724
2020-03-26,300,309,295.5,300,27213
2020-03-27,302,306.5,290,296,13466
2020-03-30,299,300,287,300,10316
2020-03-31,302.5,309,302,306.5,15698"""
```

Create an array from this string as shown below and assign to the *playway* variable. In response, print this array to the console.

**Expected result:**

```python
[['Date' 'Open' 'High' 'Low' 'Close' 'Volume']
 ['2020-03-02' '305' '324.5' '283.5' '310' '64081']
 ['2020-03-03' '325.5' '340.5' '320' '340.5' '55496']
 ['2020-03-04' '324' '340.5' '315' '330' '36152']
 ['2020-03-05' '344' '344' '310' '315' '35992']
 ['2020-03-06' '306.5' '307' '291' '305' '32539']
 ['2020-03-09' '274' '291' '250' '258' '79402']
 ['2020-03-10' '278' '284.5' '256' '264' '35700']
 ['2020-03-11' '270' '270' '238.5' '245' '60445']
 ['2020-03-12' '218' '228' '196' '197' '94031']
 ['2020-03-13' '210' '229' '198.8' '211' '100412']
 ['2020-03-16' '205' '248' '197.8' '240.5' '50659']
 ['2020-03-17' '245' '269' '232.5' '264' '99480']
 ['2020-03-18' '264' '280' '251' '270' '70136']
 ['2020-03-19' '267' '280' '267' '279.5' '30732']
 ['2020-03-20' '297.5' '307' '280' '280.5' '43426']
 ['2020-03-23' '274' '289' '258' '285' '37098']
 ['2020-03-24' '305' '309' '296.5' '309' '31939']
 ['2020-03-25' '313' '330' '295' '304' '46724']
 ['2020-03-26' '300' '309' '295.5' '300' '27213']
 ['2020-03-27' '302' '306.5' '290' '296' '13466']
 ['2020-03-30' '299' '300' '287' '300' '10316']
 ['2020-03-31' '302.5' '309' '302' '306.5' '15698']]
```

In [ ]:
import numpy as np
import pandas as pd

playway_raw = """Date,Open,High,Low,Close,Volume
2020-03-02,305,324.5,283.5,310,64081
2020-03-03,325.5,340.5,320,340.5,55496
2020-03-04,324,340.5,315,330,36152
2020-03-05,344,344,310,315,35992
2020-03-06,306.5,307,291,305,32539
2020-03-09,274,291,250,258,79402
2020-03-10,278,284.5,256,264,35700
2020-03-11,270,270,238.5,245,60445
2020-03-12,218,228,196,197,94031
2020-03-13,210,229,198.8,211,100412
2020-03-16,205,248,197.8,240.5,50659
2020-03-17,245,269,232.5,264,99480
2020-03-18,264,280,251,270,70136
2020-03-19,267,280,267,279.5,30732
2020-03-20,297.5,307,280,280.5,43426
2020-03-23,274,289,258,285,37098
2020-03-24,305,309,296.5,309,31939
2020-03-25,313,330,295,304,46724
2020-03-26,300,309,295.5,300,27213
2020-03-27,302,306.5,290,296,13466
2020-03-30,299,300,287,300,10316
2020-03-31,302.5,309,302,306.5,15698"""

playway_raw_lines = playway_raw.splitlines()
playway_raw_list = list(line.split(",") for line in playway_raw_lines)
playway = np.asarray(playway_raw_list)
# df = pd.DataFrame(playway_raw_list)
print(playway)

[['Date' 'Open' 'High' 'Low' 'Close' 'Volume']
 ['2020-03-02' '305' '324.5' '283.5' '310' '64081']
 ['2020-03-03' '325.5' '340.5' '320' '340.5' '55496']
 ['2020-03-04' '324' '340.5' '315' '330' '36152']
 ['2020-03-05' '344' '344' '310' '315' '35992']
 ['2020-03-06' '306.5' '307' '291' '305' '32539']
 ['2020-03-09' '274' '291' '250' '258' '79402']
 ['2020-03-10' '278' '284.5' '256' '264' '35700']
 ['2020-03-11' '270' '270' '238.5' '245' '60445']
 ['2020-03-12' '218' '228' '196' '197' '94031']
 ['2020-03-13' '210' '229' '198.8' '211' '100412']
 ['2020-03-16' '205' '248' '197.8' '240.5' '50659']
 ['2020-03-17' '245' '269' '232.5' '264' '99480']
 ['2020-03-18' '264' '280' '251' '270' '70136']
 ['2020-03-19' '267' '280' '267' '279.5' '30732']
 ['2020-03-20' '297.5' '307' '280' '280.5' '43426']
 ['2020-03-23' '274' '289' '258' '285' '37098']
 ['2020-03-24' '305' '309' '296.5' '309' '31939']
 ['2020-03-25' '313' '330' '295' '304' '46724']
 ['2020-03-26' '300' '309' '295.5' '300' '27213']
 ['2020-03-27' '302' '306.5' '290' '296' '13466']
 ['2020-03-30' '299' '300' '287' '300' '10316']
 ['2020-03-31' '302.5' '309' '302' '306.5' '15698']]

**Exercise 2**

The following array is given:

```python
playway = np.array(
    [
        ['Date', 'Open', 'High', 'Low', 'Close', 'Volume'],
        ['2020-03-02', '305', '324.5', '283.5', '310', '64081'],
        ['2020-03-03', '325.5', '340.5', '320', '340.5', '55496'],
        ['2020-03-04', '324', '340.5', '315', '330', '36152'],
        ['2020-03-05', '344', '344', '310', '315', '35992'],
        ['2020-03-06', '306.5', '307', '291', '305', '32539'],
        ['2020-03-09', '274', '291', '250', '258', '79402'],
        ['2020-03-10', '278', '284.5', '256', '264', '35700'],
        ['2020-03-11', '270', '270', '238.5', '245', '60445'],
        ['2020-03-12', '218', '228', '196', '197', '94031'],
        ['2020-03-13', '210', '229', '198.8', '211', '100412'],
        ['2020-03-16', '205', '248', '197.8', '240.5', '50659'],
        ['2020-03-17', '245', '269', '232.5', '264', '99480'],
        ['2020-03-18', '264', '280', '251', '270', '70136'],
        ['2020-03-19', '267', '280', '267', '279.5', '30732'],
        ['2020-03-20', '297.5', '307', '280', '280.5', '43426'],
        ['2020-03-23', '274', '289', '258', '285', '37098'],
        ['2020-03-24', '305', '309', '296.5', '309', '31939'],
        ['2020-03-25', '313', '330', '295', '304', '46724'],
        ['2020-03-26', '300', '309', '295.5', '300', '27213'],
        ['2020-03-27', '302', '306.5', '290', '296', '13466'],
        ['2020-03-30', '299', '300', '287', '300', '10316'],
        ['2020-03-31', '302.5', '309', '302', '306.5', '15698'],
    ],
    dtype='<U10',
)
```

Delete the `'Date'` column. Then remove the headers and assign result to the *playway_values* variable. Convert this array to the *float* data type and print result to the console.

**Expected output:**

```python
[[   305.     324.5    283.5    310.   64081. ]
 [   325.5    340.5    320.     340.5  55496. ]
 [   324.     340.5    315.     330.   36152. ]
 [   344.     344.     310.     315.   35992. ]
 [   306.5    307.     291.     305.   32539. ]
 [   274.     291.     250.     258.   79402. ]
 [   278.     284.5    256.     264.   35700. ]
 [   270.     270.     238.5    245.   60445. ]
 [   218.     228.     196.     197.   94031. ]
 [   210.     229.     198.8    211.  100412. ]
 [   205.     248.     197.8    240.5  50659. ]
 [   245.     269.     232.5    264.   99480. ]
 [   264.     280.     251.     270.   70136. ]
 [   267.     280.     267.     279.5  30732. ]
 [   297.5    307.     280.     280.5  43426. ]
 [   274.     289.     258.     285.   37098. ]
 [   305.     309.     296.5    309.   31939. ]
 [   313.     330.     295.     304.   46724. ]
 [   300.     309.     295.5    300.   27213. ]
 [   302.     306.5    290.     296.   13466. ]
 [   299.     300.     287.     300.   10316. ]
 [   302.5    309.     302.     306.5  15698. ]]
```

In [17]:
playway = np.array(
    [
        ['Date', 'Open', 'High', 'Low', 'Close', 'Volume'],
        ['2020-03-02', '305', '324.5', '283.5', '310', '64081'],
        ['2020-03-03', '325.5', '340.5', '320', '340.5', '55496'],
        ['2020-03-04', '324', '340.5', '315', '330', '36152'],
        ['2020-03-05', '344', '344', '310', '315', '35992'],
        ['2020-03-06', '306.5', '307', '291', '305', '32539'],
        ['2020-03-09', '274', '291', '250', '258', '79402'],
        ['2020-03-10', '278', '284.5', '256', '264', '35700'],
        ['2020-03-11', '270', '270', '238.5', '245', '60445'],
        ['2020-03-12', '218', '228', '196', '197', '94031'],
        ['2020-03-13', '210', '229', '198.8', '211', '100412'],
        ['2020-03-16', '205', '248', '197.8', '240.5', '50659'],
        ['2020-03-17', '245', '269', '232.5', '264', '99480'],
        ['2020-03-18', '264', '280', '251', '270', '70136'],
        ['2020-03-19', '267', '280', '267', '279.5', '30732'],
        ['2020-03-20', '297.5', '307', '280', '280.5', '43426'],
        ['2020-03-23', '274', '289', '258', '285', '37098'],
        ['2020-03-24', '305', '309', '296.5', '309', '31939'],
        ['2020-03-25', '313', '330', '295', '304', '46724'],
        ['2020-03-26', '300', '309', '295.5', '300', '27213'],
        ['2020-03-27', '302', '306.5', '290', '296', '13466'],
        ['2020-03-30', '299', '300', '287', '300', '10316'],
        ['2020-03-31', '302.5', '309', '302', '306.5', '15698'],
    ],
    dtype='<U10',
)


playway = pd.DataFrame(playway)
playway.columns = playway.iloc[0]
playway = playway[1:]
playway

0         Date   Open   High    Low  Close  Volume
1   2020-03-02    305  324.5  283.5    310   64081
2   2020-03-03  325.5  340.5    320  340.5   55496
3   2020-03-04    324  340.5    315    330   36152
4   2020-03-05    344    344    310    315   35992
5   2020-03-06  306.5    307    291    305   32539
6   2020-03-09    274    291    250    258   79402
7   2020-03-10    278  284.5    256    264   35700
8   2020-03-11    270    270  238.5    245   60445
9   2020-03-12    218    228    196    197   94031
10  2020-03-13    210    229  198.8    211  100412
11  2020-03-16    205    248  197.8  240.5   50659
12  2020-03-17    245    269  232.5    264   99480
13  2020-03-18    264    280    251    270   70136
14  2020-03-19    267    280    267  279.5   30732
15  2020-03-20  297.5    307    280  280.5   43426
16  2020-03-23    274    289    258    285   37098
17  2020-03-24    305    309  296.5    309   31939
18  2020-03-25    313    330    295    304   46724
19  2020-03-26    300    309  295.5    300   27213
20  2020-03-27    302  306.5    290    296   13466
21  2020-03-30    299    300    287    300   10316
22  2020-03-31  302.5    309    302  306.5   15698

**Exercise 3**

The following array is given (*float* type):

```python
playway_values = np.array(
    [
        [305.0, 324.5, 283.5, 310.0, 64081.0],
        [325.5, 340.5, 320.0, 340.5, 55496.0],
        [324.0, 340.5, 315.0, 330.0, 36152.0],
        [344.0, 344.0, 310.0, 315.0, 35992.0],
        [306.5, 307.0, 291.0, 305.0, 32539.0],
        [274.0, 291.0, 250.0, 258.0, 79402.0],
        [278.0, 284.5, 256.0, 264.0, 35700.0],
        [270.0, 270.0, 238.5, 245.0, 60445.0],
        [218.0, 228.0, 196.0, 197.0, 94031.0],
        [210.0, 229.0, 198.8, 211.0, 100412.0],
        [205.0, 248.0, 197.8, 240.5, 50659.0],
        [245.0, 269.0, 232.5, 264.0, 99480.0],
        [264.0, 280.0, 251.0, 270.0, 70136.0],
        [267.0, 280.0, 267.0, 279.5, 30732.0],
        [297.5, 307.0, 280.0, 280.5, 43426.0],
        [274.0, 289.0, 258.0, 285.0, 37098.0],
        [305.0, 309.0, 296.5, 309.0, 31939.0],
        [313.0, 330.0, 295.0, 304.0, 46724.0],
        [300.0, 309.0, 295.5, 300.0, 27213.0],
        [302.0, 306.5, 290.0, 296.0, 13466.0],
        [299.0, 300.0, 287.0, 300.0, 10316.0],
        [302.5, 309.0, 302.0, 306.5, 15698.0],
    ]
)
```

Calculate the average value for each column. Round the result to two decimal places and print it to the console.

**Expected result:**

```python
[  283.14   295.25   268.69   282.3  48688.05]
```

In [20]:
playway_values = np.array(
    [
        [305.0, 324.5, 283.5, 310.0, 64081.0],
        [325.5, 340.5, 320.0, 340.5, 55496.0],
        [324.0, 340.5, 315.0, 330.0, 36152.0],
        [344.0, 344.0, 310.0, 315.0, 35992.0],
        [306.5, 307.0, 291.0, 305.0, 32539.0],
        [274.0, 291.0, 250.0, 258.0, 79402.0],
        [278.0, 284.5, 256.0, 264.0, 35700.0],
        [270.0, 270.0, 238.5, 245.0, 60445.0],
        [218.0, 228.0, 196.0, 197.0, 94031.0],
        [210.0, 229.0, 198.8, 211.0, 100412.0],
        [205.0, 248.0, 197.8, 240.5, 50659.0],
        [245.0, 269.0, 232.5, 264.0, 99480.0],
        [264.0, 280.0, 251.0, 270.0, 70136.0],
        [267.0, 280.0, 267.0, 279.5, 30732.0],
        [297.5, 307.0, 280.0, 280.5, 43426.0],
        [274.0, 289.0, 258.0, 285.0, 37098.0],
        [305.0, 309.0, 296.5, 309.0, 31939.0],
        [313.0, 330.0, 295.0, 304.0, 46724.0],
        [300.0, 309.0, 295.5, 300.0, 27213.0],
        [302.0, 306.5, 290.0, 296.0, 13466.0],
        [299.0, 300.0, 287.0, 300.0, 10316.0],
        [302.5, 309.0, 302.0, 306.5, 15698.0],
    ]
)

df = pd.DataFrame(playway_values)
print(df.mean(axis=0))

0      283.136364
1      295.250000
2      268.686364
3      282.295455
4    48688.045455
dtype: float64