<a href="https://colab.research.google.com/github/velkir/ChallengesDayN/blob/main/ChallengeDay18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1
The following arrays are given:

```
A = np.array(['001', '002', '003'], dtype=np.str)
B = np.array(['XC', 'YC', 'ZC'], dtype=np.str)
```

Merge them together as shown below and print result to the console.

Expected result:
`['001XC' '002YC' '003ZC']`

In [ ]:
import numpy as np

A = np.array(['001', '002', '003'], dtype=np.str_)
B = np.array(['XC', 'YC', 'ZC'], dtype=np.str_)

C = np.char.add(A,B)
print(C)

['001XC' '002YC' '003ZC']

# Exercise 2
The following array is given:
`A = np.array(['1', '2', '3'], dtype=np.str)`

Add '000' (3 zeros) at the beginning of each element of this array as shown below and print result to the console.

Expected output:
`['0001' '0002' '0003'] `

In [ ]:
A = np.array(['1', '2', '3'], dtype=np.str_)

print(np.char.add('000', A))

['0001' '0002' '0003']

# Exercise 3
The following array is given:

```
A = np.array([['PLW CDR 11B TEN', 'AMC LPP'],
              ['CDR PKO KGH', 'CCC QMK']], dtype=np.str)
```

Split each element of this array by space character as shown below.

Expected result:

```
[[list(['PLW', 'CDR', '11B', 'TEN']) list(['AMC', 'LPP'])]
 [list(['CDR', 'PKO', 'KGH']) list(['CCC', 'QMK'])]]
```

In [ ]:
A = np.array([['PLW CDR 11B TEN', 'AMC LPP'],
              ['CDR PKO KGH', 'CCC QMK']], dtype=np.str_)

print(np.char.split(A, " "))

[[list(['PLW', 'CDR', '11B', 'TEN']) list(['AMC', 'LPP'])]
 [list(['CDR', 'PKO', 'KGH']) list(['CCC', 'QMK'])]]